$smallfont : 10px;
$mssssfont:15px;
$msssfont: 18px;
$mssfont: 25px;
$msfont: 25px;
$mediumfont : 40px;
$lmmfont:50px;
$lmfont: 70px;
$largefont : 90px;
$xlargefont: 123px;
$xxlargefont: 140px;
$navlink: 24px;
$fontname1:Arial (sans-serif);
$fontname2:Verdana (sans-serif);
$fontname:Tahoma (sans-serif);
$fontname3:Trebuchet MS (sans-serif);
$fontname4:Times New Roman (serif);
$fontname5:Georgia (serif);
$fontname6:Garamond (serif);
$fontname7:Courier New (monospace);
$fontname8: Brush Script MT (cursive);
$fontname1:Arial (sans-serif);
$fontname2:Verdana (sans-serif);
$fontname:Tahoma (sans-serif);
$fontname3:Trebuchet MS (sans-serif);
$fontname4:Times New Roman (serif);
$fontname5:Georgia (serif);
$fontname6:Garamond (serif);
$fontname7:Courier New (monospace);
$fontname8: Brush Script MT (cursive);
$fontname1:Arial (sans-serif);
$fontname2:Verdana (sans-serif);
$fontname:Tahoma (sans-serif);
$fontname3:Trebuchet MS (sans-serif);
$fontname4:Times New Roman (serif);
$fontname5:Georgia (serif);
$fontname6:Garamond (serif);
$fontname7:Courier New (monospace);
$fontname8: Brush Script MT (cursive);
$fontname1:Arial (sans-serif);
$fontname2:Verdana (sans-serif);
$fontname:Tahoma (sans-serif);
$fontname3:Trebuchet MS (sans-serif);
$fontname4:Times New Roman (serif);
$fontname5:Georgia (serif);
$fontname6:Garamond (serif);
$fontname7:Courier New (monospace);
$fontname8: Brush Script MT (cursive);
$fontname1:Arial (sans-serif);
$fontname2:Verdana (sans-serif);
$fontname:Tahoma (sans-serif);
$fontname3:Trebuchet MS (sans-serif);
$fontname4:Times New Roman (serif);
$fontname5:Georgia (serif);
$fontname6:Garamond (serif);
$fontname7:Courier New (monospace);
$fontname8: Brush Script MT (cursive);
$fontname1:Arial (sans-serif);
$fontname2:Verdana (sans-serif);
$fontname:Tahoma (sans-serif);
$fontname3:Trebuchet MS (sans-serif);
$fontname4:Times New Roman (serif);
$fontname5:Georgia (serif);
$fontname6:Garamond (serif);
$fontname7:Courier New (monospace);
$fontname8: Brush Script MT (cursive);
$fontname1:Arial (sans-serif);
$fontname2:Verdana (sans-serif);
$fontname:Tahoma (sans-serif);
$fontname3:Trebuchet MS (sans-serif);
$fontname4:Times New Roman (serif);
$fontname5:Georgia (serif);
$fontname6:Garamond (serif);
$fontname7:Courier New (monospace);
$fontname8: Brush Script MT (cursive);
$fontname1:Arial (sans-serif);
$fontname2:Verdana (sans-serif);
$fontname:Tahoma (sans-serif);
$fontname3:Trebuchet MS (sans-serif);
$fontname4:Times New Roman (serif);
$fontname5:Georgia (serif);
$fontname6:Garamond (serif);
$fontname7:Courier New (monospace);
$fontname8: Brush Script MT (cursive);
$fontname1:Arial (sans-serif);
$fontname2:Verdana (sans-serif);
$fontname:Tahoma (sans-serif);
$fontname3:Trebuchet MS (sans-serif);
$fontname4:Times New Roman (serif);
$fontname5:Georgia (serif);
$fontname6:Garamond (serif);
$fontname7:Courier New (monospace);
$fontname8: Brush Script MT (cursive);
$fontname1:Arial (sans-serif);
$fontname2:Verdana (sans-serif);
$fontname:Tahoma (sans-serif);
$fontname3:Trebuchet MS (sans-serif);
$fontname4:Times New Roman (serif);
$fontname5:Georgia (serif);
$fontname6:Garamond (serif);
$fontname7:Courier New (monospace);
$fontname8: Brush Script MT (cursive);
$fontname1:Arial (sans-serif);
$fontname2:Verdana (sans-serif);
$fontname:Tahoma (sans-serif);
$fontname3:Trebuchet MS (sans-serif);
$fontname4:Times New Roman (serif);
$fontname5:Georgia (serif);
$fontname6:Garamond (serif);
$fontname7:Courier New (monospace);
$fontname8: Brush Script MT (cursive);
$fontname1:Arial (sans-serif);
$fontname2:Verdana (sans-serif);
$fontname:Tahoma (sans-serif);
$fontname3:Trebuchet MS (sans-serif);
$fontname4:Times New Roman (serif);
$fontname5:Georgia (serif);
$fontname6:Garamond (serif);
$fontname7:Courier New (monospace);
$fontname8: Brush Script MT (cursive);
$fontname1:Arial (sans-serif);
$fontname2:Verdana (sans-serif);
$fontname:Tahoma (sans-serif);
$fontname3:Trebuchet MS (sans-serif);
$fontname4:Times New Roman (serif);
$fontname5:Georgia (serif);
$fontname6:Garamond (serif);
$fontname7:Courier New (monospace);