.footer {
    height: 1100px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    z-index: 3;
    bottom: 0%;

    &-top {
        height: 400px;
        width: 100%;
    }

    &-area {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &-pic {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &-main {
            margin-top: 90px;
            width: 100%;
            height: 520px;
            z-index: 4;
            display: flex;
            position: relative;

            &-right {
                position: absolute;
                width: 85%;
                right: 0%;
                height: 100%;
                display: flex;
                flex-direction: row;

                &-form {
                    width: 70%;
                    height: 100%;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    color: $colorone;

                    & > h1 {
                        font-size: $mediumfont;
                        width: 90%;
                        letter-spacing: normal;
                        padding-top: 10px;
                    }

                    &-box {
                        display: flex;
                        flex-direction: row;
                        padding-top: 30px;
                        padding-bottom: 20px;

                        &-right, &-left {
                            padding-right: 20px;

                            & > label {
                                font-size: $msfont;
                                color: $coloryellow;
                            }

                            & > input {
                                width: 300px;
                                height: 40px;
                                background: transparent;
                                border: 1px solid $coloryellow;
                                border-radius: 5px;
                                padding: 5px;
                                color: white;
                                position: relative;
                                transition: 0.4s ease-in-out;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    background: $coloryellow;
                                    height: 4px;
                                    width: 100%;
                                    bottom: 0;
                                    left: 0;
                                    z-index: 4;
                                }

                                &:hover {
                                    background: $coloryellow;
                                    color: $colortwo;
                                    border: 1px solid black;
                                }
                            }
                        }
                    }

                    &-ckbx {
                        padding-top: 15px;
                        width: 170px;
                        justify-content: space-between;
                        color: $coloryellow;
                        display: flex;
                        flex-direction: row;

                        &-checkbox {
                            padding-top: 10px;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            width: 20px;
                            height: 20px;
                            background-color: transparent;
                            border: 3px solid $coloryellow;
                            border-radius: 3px;
                            color: white;
                            cursor: pointer;

                            &:checked {
                                background-color: $coloryellow;
                                color: white;
                            }
                        }
                    }

                    & > p {
                        padding-top: 15px;
                        padding-bottom: 40px;
                        width: 90%;
                    }
                }

                &-2 {
                    width: 20%;
                    padding: 10px;
                    padding-top: 30px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    &-list {
                        padding: 20px;
                        font-size: $msssfont;

                        &-white {
                            color: white;
                            font-size: $mssssfont;
                            font-family: Arial, Helvetica, sans-serif;
                            transition: 0.4s ease-in-out;
                            padding-bottom: 10px;

                            &:hover {
                                color: $coloryellow;
                            }
                        }
                    }

                    &-span {
                        margin-top: 40px;
                        margin-bottom: 20px;
                        width: 80%;
                        height: 0.7px;
                        background-color: white;
                        border-radius: 5px solid;
                        z-index: 4;
                    }
                }
            }
        }
    }

    @include mobile {
        flex-direction: column;
        align-items: center;
        &-top {
            height: 400px;
        }

        &-area {
            flex-direction: column;
            height: 1200px;
            align-items: center;

            &-pic {
                position: absolute;
                width: 100%;
                height: 1100px;
                object-fit: cover;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &-main {
                flex-direction: column;
                height: 1000px;
                align-items: center;

                &-right {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    right:unset;
                    
                    &-form {
                        width: 100%;
                        align-items: center;

                        & > h1 {
                            font-size: $msfont;
                        }
                        
                        &-box {
                            flex-direction: column;
                            padding: 20px 0;

                            & > input {
                                width: 100%;
                                height: 30px;
                                margin-bottom: 10px;
                            }
                        }

                        &-ckbx {
                            flex-direction: row;
                            padding-top: 10px;
                            width: 100%;
                        }
                    }

                    &-2 {
                        width: 100%;
                        align-items: center;

                        &-list {
                            font-size: $msssfont;
                            padding: 10px 0;
                            align-items: center;
                            display: flex;
                            flex-direction: column;

                            &-white {
                                font-size: $msssfont;
                            }
                        }

                        &-span {

                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}
