.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;

    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &-textOne {
            font-size: $largefont;
        }

    }
    @include tablet {
        color: $colorone;
        color: black;
    }
}