.shopscroll {
    animation-name: scroll ; 
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

@keyframes scroll {
    0% {
        transform: translateY( 80px);
        opacity: 30%;
    }
    100% {
        transform: translateY(0px);
    }
}
