@import '../variables/index';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Archivo Black", sans-serif;

}

body {
 background-color: $colortwo;
}

a {
    color: $coloryellow;
    text-decoration:none;
    transition: 0.3s ease-in-out;
}

a:hover {
    color: $colorone;
}

ul {
    list-style: none;
}